body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Roboto', 'Arial', sans-serif;
}

/* header */

#image_icon {
  border-radius: 50%;
  margin: 0.5rem;
}

.navbar img {
  max-height: 50px;
  width: auto;
}

.nav-link {
  margin: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

/* main */ 

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6rem;
  color: white;
}

.p-text {
  color: white;
  font-size: 4rem;
}

h1,
.carousel-title {
  font-family: 'Courgette', cursive;
}

.filter {
  text-align: center;
}

.filter > button {
  margin: 1rem;
}

.carousel-title {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  color: #989898;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background-color: #989898;
  border-radius: 50%;
}

footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.img-fluid {
  max-width: 30px;
  margin: 2rem;
}