body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Roboto', 'Arial', sans-serif;
}

/* header */

#image_icon {
  border-radius: 50%;
  margin: 0.5rem;
}

.navbar img {
  max-height: 50px;
  width: auto;
}

.navbar-brand,
.nav-link,
.h2Prices,
.footer {
  color: #989898;
}

.navbar-brand,
.nav-link {
  margin: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

/* main */ 

.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgba(248,249,250,1);
}

.p-text {
  color: rgba(248,249,250,1);
}

h1,
.carousel-title,
.h2Prices,
.h2Form,
legend,
.labelForm {
  font-family: 'Courgette', cursive;
}

.h2Prices,
.h2Form {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.filter {
  text-align: center;
}

.filter > button {
  margin: 1rem;
}

.carousel-title {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  color: #989898;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  background-color: #989898;
  border-radius: 50%;
}

/* form */

#form, 
label {
  text-align: center;
  color: #989898;
}

#form {
  margin-bottom: 1rem;
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;;
}

sup {
  color: red;
}

#informations, 
#message {
  border: #989898 solid 1.5px;
  border-radius: 5px;
  position: inherit;
  width: auto;
}

fieldset > legend {
  float: none;
  width: auto;
}

input, 
textarea {
  border: #989898 solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
}
.form__name, 
.form__mail, 
.form__message {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnSend,
.btnSendNo {
  color: white;
  border: 10px;
  font-weight: bold;
  border: solid 1px #989898;
  margin-bottom: 0.5rem;
}

.btnSend {
  background-color: #989898;
}

.btnSend:hover {
  background: white;
  color: #989898;
  transition-duration: 0.5s;
}

.btnSendNo {
  background-color: white;
  color: red;
}

.btnSendNo:hover{
  background: red;
  color: white;
  transition-duration: 0.5s;
}

/* footer */

footer {
  background-color: rgba(248,249,250,1);
  padding: 20px;
  text-align: center;
}

.img-fluid {
  max-width: 30px;
  margin: 2rem;
}